<%= link_to "<< Back to List", pages_path, class: 'back-link' %>

<div class="page new">
    <h2>Create page</h2>

    <%= form_for( @page, url: pages_path, method: 'post' ) do |f| %>

    <%= render partial: 'form', locals: {f: f} %>

    <div class="form-buttons">
        <%= f.submit "Create Page", disable_with: 'Creating Page...' %>
    </div>

    <% end %>
</div>